body {
	font-family: Arial;
}
a {
	text-decoration-style: none;
	text-decoration: none;
	color: none;
}

.navList {
	top: 0;
	padding: 0;
	margin: 0;
	list-style-type: none;
}
.nav {
	display: block;
	background-color: lightgrey;
	position: fixed;
	height: 40px;
	width: 100%;
	z-index: 1;
	border-width: 1px;
	border-color: black;
	border-style: solid;
	top: 0;
	left: 0;
	
}

.leftSideButtons {
	color: black;
	background-color: lightgrey;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: left;
	padding-top: 10px;	
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}


.rightSideButtons {
	color: black;
	border-color: lightgrey;
	height: 20px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	float: right;
	top: 0;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 20px;
	padding-right: 20px;
}

.forumButton{
	background-color: orange;
	height: 20px;
	width: 60px;
	text-align: center;
	z-index: 2;
}